body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    right: 10px;
}

#menu a{
    font-size: 50%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#joe-logo{
    margin: 0px;
    min-height: 25%;
    width: 10%;
    margin: 5px;
    height: 25%;
    max-height: 25%;
    position: relative;
    left: 50px;

}