
li{
    list-style: none;
    width: 80%;
}

#list-of-products{

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#price{
    border-bottom: 1px solid black;
    font-weight: bold;
}

#product-img{
    width: 40vw;
    max-width: 40vw;;
    height: 75vh;
    translate: 0px 2px;
    object-fit: cover;
}

#product-desc{
    max-height: 40vh;
    overflow: scroll;
    line-height: 1.5rem;
}

#article{
    display: flex;
    flex-direction: row;
    justify-content: center;
}