
#inner-page-content{
    width: 90vw;
    height: 80vh;
    background-color: var(--color-quaternary);
    box-shadow: 15px 15px 0px 5px black;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

#displayUser{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat{
    width: 50%;
    height: 90%;
    background-color: var(--color-primary);    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#chat ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    height: 100%;
}

#chat-window{
    height: 70%;    
    width: 100%;
    background-color: var(--color-secondary);
}


#chat-input{
    width: 80%;
    margin: 10px;
    height: 30px;
    padding: 10px;
    border: 0px;
}

#chat-input:hover{
    box-shadow: 5px 5px 0px 2px black;
}

#inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 15%;
}

#sendButton{
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: 0px;
    background-color: var(--color-secondary);
}

#sendButton:hover{
    box-shadow: 5px 5px 0px 2px black;
}

#friends-container{
    width: 200px;
    height: 90%;
    background-color: pink;
    
}

#addFriend{
    width: 190px;
    padding: 10px 5px 10px 5px;
    border: 0px;
}

.hidden_list{
    opacity: 0;
}

#friendSearch{
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    max-height: 85;
    overflow-y: scroll;
    
}


#friendSearch li{
    font-size: 100%;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: var(--color-secondary);
}

#friendSearch li:hover{
    cursor: pointer;
    background-color: var(--color-primary);
}

#newFriends{
    height: 50%;
    width: 100%;
    border-bottom: 2px solid black;
}


#existingFriends{

    height: 50%;
    width: 100%;
}

#existingFriends-list{
    text-decoration: none;
    list-style: none;
    width: 100%;
    max-height: 85%;
    padding-left: 0px;
}

.friend-div{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.friend-div:hover{
    background-color: var(--color-secondary);
}

.friend-div-active{
    background-color: var(--color-secondary);
}

.friend, .friend-div button{
    margin: 5px 10px 5px 10px;
}

#existingFriends p{
    margin-left: 10px;
}

/*
.friend-div
.friend-div button
.friend   
*/
