<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Title</title>
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <link rel="stylesheet" href="../../stylesheets/product.css">
    <link rel="icon" href="https://play-lh.googleusercontent.com/7rrLQZ1babW5YVAeWigNtVeJYtwqH1hzHosdZj1P-bpDGcmg6UKyHEawJ9tIu-3PewHe">
</head>
<body>
    <!--Denne template anvendes til at kopiere over på nye sider, når man skal oprette nye sider og beholde det layout, som er tema for resten af opgaven-->
    <header>
        <img id="joe-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpkCUJNxhIVtWFFM0vzsrGzCtiI8DsgXClPV6JAaA4aQ&s">    
        <div id="menu">
            <a id="menu-home" href="/">Home</a>
            <a id="menu-menu" href="/site/menu">Menu</a>
            <a id="menu-about" href="/site/about">About</a>
            <a id="menu-contact" href="/site/contact">Contact</a>
            <a id="log-in" href="/site/login">Log In</a>
            <a id="log-in" href="/site/user">Sign Up</a>
        </div>
    </header>
    <!--Indholdet skal holdes inden i div'en nedenfor-->
    <div id="page-content">
        <div id="article">
            <div>
                <ul id="list-of-products">
                    <li id="name">
                        <h2><%= product.name %></h2>
                    </li>
                    <li id="price"><%= product.price %> DKK</li>
                    <li>
                        <p id="product-desc"><%= product.desc %></p>
                    </li>
                </ul>
            </div>
            <div>
                <img id="product-img" src=<%= product.img %> loading="lazy">
            </div>
        </div>
    </div>
    <!--Indholdet skal holdes inden i div'en ovenfor (page-content)-->
    <footer></footer>
</body>
</html>